*{
	margin:0;
	padding: 0;
	font-family: Century Gothic;
	
}
header{
	background-repeat: none;
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-color: #272727;
	
}	
.mainimg{
	position:absolute;
	top:43px;
	left:325px;
	
}
main{
	max-width: 1200px;
	margin: auto;
}

ul{
	list-style-type: none;
	float: center;
	
}

ul li{
	position: absolute;
	top: 10px;
	display: inline-block;
	margin-top:6px;
	left: 100px;
}



ul li a{
	color: white;
	padding: 5px 20px;
	border: 1px solid transparent;
	text-decoration: none;
	transition: 0.5s ease;
	
}
li a:link{
	background-color: black;
	color: white;
}
li a:hover{
	background-color: white;
	color: black;
 }
 
li a:visited{
	color: gray;
 }
 
li a:active{
	 color: gray;
 }

.logo img{
	position: absolute;
	top: 0px;
	left:10px;
	float: left;
	width: 100px;
	height: auto;
}			

.box{
	position: absolute;
	top: 288px;
	left: 30px;
	width: 1000px;
	height: auto;
	padding: 10px;
	background:black;
	text-align: justify;
	margin: auto;
	color: white;
	font-family: 'Century Gothic',sans-serif;
}


.box h1{
	font-family: 'arial';
	text-align: center;
}

.box2 h2{
	font-family: 'arial';
	text-align: center;
}

.box2{
	position: absolute;
	top: 560px;
	right: 10px;
	left: 400px;
	width: 1000px;
	height: auto;
	padding: 10px;
	background:black;
	text-align: justify;
	margin: auto;
	color: white;
	font-family: 'Century Gothic',sans-serif;
}

.box3{
	position: absolute;
	top: 180px;
	left:1415px;
	width: 140px;
	font-size: 10px;
	height: auto;
	padding: 10px;
	background:black;
	text-align: center;
	margin: auto;
	color: white;
	font-family: 'Century Gothic',sans-serif;
	
}

.box4{
	position: absolute;
	top: 720px;
	left: 30px;
	width: 1500px;
	height: auto;
	padding: 10px;
	background:black;
	text-align: center;
	margin: auto;
	color: white;
	font-family: 'Century Gothic',sans-serif;
}

video{
	position: absolute;
	top:300px;
	left: 1160px;
	right:50px;
	height: 225px;
	width: 375px;
}

.pic2{
	position:absolute;
	top:560px;
	left:50px;
	right: 654px;
	height: 154px;
	width: 320px;
}

.twitter{
	position: absolute;
	top: 10px;
	left:1525px;
		background: url('../images/icon.png') no-repeat -50px 0px;
		width: 50px;
		height: 50px;
	
	}
div.twitter:hover{
		background: url('../images/icon.png') no-repeat -50px -50px;
		width: 50px;
		height: 50px;
}

.facebook{
	position: absolute;
	top: 10px;
	left:1470px;
	background: url('../images/icon.png') no-repeat 0px 0px;
	width: 50px;
	height: 50px;
}

div.facebook:hover {
	background: url('../images/icon.png') no-repeat 0px -50px;
	width: 50px;
	height: 50px;
}

.youtube{
	position: absolute;
	top: 10px;
	left:1415px;
	background: url('../images/icon.png') no-repeat -200px 0px;
	width: 50px;
	height: 50px;
}

div.youtube:hover{
	background: url('../images/icon.png') no-repeat -200px -50px;
	width: 50px;
	height: 50px;
}

.hand{
	position: absolute;
	top: 80px;
	left:1456px;
	background: url('../images/blmlink.png') no-repeat -62px -86px;
	width: 75px;
	height: 80px;
}

div.hand:hover{
	background: url('../images/blmlink.png') no-repeat -61px -7px;
	width: 77px;
	height: 78px;
}

div.hand:visited{
	background: url('../images/blmlink.png') no-repeat -61px -7px;
	width: 77px;
	height: 78px;
}


